@model IEnumerable<GamesApp.Models.GameDev>

@{
    ViewData["Title"] = "Game Dev Info";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Developer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GameDevId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GameDevId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GameDevId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
